<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemy</key>
	<dict>
		<key>enemy_start_to_y</key>
		<integer>700</integer>
		<key>enemy_end_to_y</key>
		<integer>-200</integer>
		<key>enemy_by_y</key>
		<integer>-700</integer>
		<key>speed_big</key>
		<integer>20</integer>
		<key>speed_middle</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
